.topPart{

    display: flex;
    flex-direction: column;

}

.ProjectDescription{

}

.projectShell{
    border: 2px solid black;
    border-radius: 10%;
    padding: 10px;
    width: 60%;
    margin: 20px auto;
}

.middlePart{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.likeProject{
    margin-top: 10px;
}
.likeProject:hover{
    color: green;
    cursor: pointer;

}
.commentInput{
    font-size: 15px;
    width: 30%;
}
.commentInput:focus{
    width: 40%;
}
.linkGroups {
    /* border: 2px solid black; */
    border-radius: 10%;
    box-shadow: 2px 2px 2px #888888;
    width: 30%;
    display: flex;
    justify-content: space-around;
}